/* Base styling for the whole body and html elements */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color: #FFBFCB
        padding: 20px;
    text-align: center; 
}

h1{
    text-align:center;
    color: #333;
    padding: 20px;
    margin: 0;
    font-size: 48px;
}

h2{
    text-align:center;
    color: #333;
    padding: 20px;
    margin-top:30px;
    margin-bottom:30px;
    font-size:36px;
}

h3{
    text-align:center;
    color: #333;
    margin botton: 30px;
    padding: 20px;
}

p {
    color: #666;
    padding: 0 20px;
    line-height: 1.6; 
}

.portfolio li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    margin-bottom:20px;

portfolio img{
    wisth:100%;
    max-width:400px;
    height: auto;
    margin-bottom:20px
}

img 2{
    display: block; 
    margin: 10px auto;
    max-width: 100%; 
    height: auto;
}

.work-title{
    font-size:38px;
    font-weight:bold;
    text-align:center;
}


 
